.about_us h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 25px auto 0 115px;
}

.about_us_img {
    padding-left: 30px;
    width: 100%;
}

.about_us p {
    font-size: 23px;
    color: #000000;
    max-width: 1200px;
    margin: 20px auto 40px;
    text-align: center;
}

.about_us a {
    color: #E13737;
    font-weight: 800;
    font-style: italic;
}

@media only screen and (max-width:768px) {
    .about_us h1 {
        font-size: 55px;
        margin: 25px auto;
        text-align: center;
    }
}

@media only screen and (max-width:484px) {
    .about_us h1 {
        font-size: 45px;
        margin: 25px auto;
        text-align: center;
    }

    .about_us p {
        font-size: 13px;
        margin: 20px auto 40px 40px;
    }
}

@media only screen and (max-width:320px) {
    .about_us p {
        margin: 0 auto 10px 40px;
    }

    .about_us h1 {
        font-size: 40px;
        margin: 15px auto;
    }
}

@media only screen and (min-width:390px) 
                    and (min-height: 700px)
                    and (max-height: 900px) {
                        .about_us h1 {
                            font-size: 50px;
                            margin: 25px auto;
                        }
                    
                        .about_us p {
                            font-size: 15px;
                            margin: 20px auto 40px 40px;
                        }
                    }