.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3d548;
    height: 60px;
}

.burger_button {
    display: none;
}

.navigation_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation_links a {
    text-decoration: none;
    color: #25271C;
    font-size: 30px;
    padding-left: 60px;
}

.navigation_links a.active {
    font-weight: 500;
}

/* .navigation_links a:hover {
    color: #dee4c2;
} */

.social_buttons {
    display: flex;
    gap: 20px;
}

.social_buttons img {
    width: 30px;   
}

.social_element {
    position: relative;
}

.social_element:last-child {
    padding-right: 115px;
}

.social_element .message {
    display: none;
    position: absolute;
    top: 58px;
    /* box-shadow: inset 0px 4px 4px rgba(221, 68, 68, 0.25); */
    border-bottom: ridge;
}

.social_element:hover .message { 
    display: block;
    transition: all 2s ease;  
}

.menu_mobile {
    display: none;
}

@media only screen and (max-width: 484px) {
    .header {        
        z-index: 1;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 20px 0;
        width: 50px;
        transition: width 0.2s ease;
        top: 0;
    }

    .header.mobile_menu_open {
        width: 100px;
        text-align: center;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation_links {
        display: none;
        flex-direction: column;
        width: 100px;
    }

    .navigation_links a {
        font-size: 20px;
        padding-left: 0;
        font-weight: 600;
    }

    .navigation_links.open {
        display: flex;
        margin-top: 30px;
    }

    .burger_button {
        display: block;
        border: 0;
        background-color: #f3d548;
        font-size: 30px;
        color:black;
        padding: 0;
    }

    .social_buttons {
        flex-direction: column;
        align-items: center;
    }

    
    .social_element:last-child {
        padding-right: 0;
    }

    .social_buttons img {
        width: 30px;   
    }

    .social_buttons .message {
        left: 45px;
        width: 200px;
        background: whitesmoke;
        border-radius: 5px;
        padding: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .social_element {
        position: relative;
    }
}

