.hero {
    background-image: url(/img/girl.svg);
    background-repeat: no-repeat;
    background-position: right 5% bottom;
    background-size: 54%;
}

.hero_elements {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    align-items: center;
    margin-left: 40px ;
}

.hero_elements img {
    margin-top: 70px;
    width: 100%;
}

.hero_elements h1 {
    font-size: 45px;
    font-style: italic;
    font-weight: 500;
}

.hero_elements p {
    font-size: 24px;
    text-align: center;
    margin: 40px auto 70px;
    font-weight: 300;
    max-width: 700px;
}

.hero_elements span {
    font-weight: 600;
}

.button_class {
    margin-bottom: 80px;
}

@media only screen and (max-width: 1300px) {
    .hero {
        background-size: 50%;
    }
}

@media only screen and (max-width: 1250px) {
    .hero {
        background-size: 45%;
        background-position: bottom 84px right 0px
    }
}

@media only screen and (max-width: 1150px) {
    .hero {
        background-size: 35%;
    }
}

@media only screen and (max-width: 1050px) {
    .hero {
        background-size: 25%;
    }
}

@media only screen and (min-width: 484px) and (max-width: 930px) {
    .hero {
        background-image: none;
    }
}

@media only screen and (max-width: 700px) {
    .hero_elements h1 {
        font-size: 27px;
    }
}

@media only screen and (max-width:485px) {
    .hero {
        background-position: bottom 0 right -20px;
        background-size: 80%;
    }

    .hero_elements h1 {
        font-size: 27px;
        text-align: center;
    }

    .hero_elements p {
        font-size: 15px;
        margin: 10px auto 150px;
    }

    .button_class {
        margin: 10px auto 65px 5px;
    } 

    .hero_elements img {
        margin: 30px auto 10px;
    }

    .hero_elements {
        display: block;
    }
}

@media only screen and (max-width:445px)
                    and (min-height: 700px)
                    and (max-height: 900px) {
    .hero_elements h1 {
        text-align: center;
        font-size: 33px;
    }
    .hero {
        background-position: bottom 0 right -20px;
    }
    .hero_elements p {
        margin: 20px auto 150px;
        font-size: 24px;
    }
}

@media only screen and (max-width:410px) 
                    and (min-height: 700px)
                    and (max-height: 900px) {
                .hero {
                    background-position: bottom 0 right -25px;
                    background-size: 95%;
                }
            
                .hero_elements h1 {
                    font-size: 30px;
                }
            
                .hero_elements p {
                    font-size: 20px;
                    margin-bottom: 200px;
                }
            
                .hero_elements img {
                    margin: 40px auto 30px;
                }

                .button_class {
                    margin-bottom: 25%;
                    margin-right: 50%;
                }
}

@media only screen and (max-width:350px) 
                    and (min-height: 700px)
                    and (max-height: 900px) {
                .hero {
                    background-position: bottom 0 right -25px;
                    background-size: 95%;
                }
            
                .hero_elements p {
                    margin-bottom: 100px;
                }

                .hero_elements img {
                    margin: 15px auto;
                }

                .button_class {
                    margin-bottom: 25%;
                    margin-right: 44%;
                }
}