.hero {
    background-image:  url(../img/boy.svg), url(../img/bcg_red.svg);
    background-position: right 15% top 15%, right 0px top 0px;
    background-size: 26%, 69%;
    background-repeat: no-repeat;
    height: 650px;
    position: relative;
    background-color: #eaebe5;
}

main {
    background-color: #eaebe5;
}

.hero_header {
    padding: 10% 0 0 17%;
    
}

.hero_header h1 {
    font-size: 85px;
}

.hero_header h2 {
    font-size: 2.4vw;
    font-weight: 400;
    margin: 50px auto 40px;
}

.hero_header span {
    font-weight:100;
}

.hero_header img {
    width: 50%;
}

@media(max-width:434px) {
    .hero {
        background-position: right 0px bottom 51px, right 0px top 0px;
        background-size: 60%, 96%;
        background-color: #eaebe5;
    }

    .hero_header {
        padding: 0;
    }

    .hero h1 {
        font-size: 39px;
    }

    .hero h2 {
        display: none;
    }

    .hero_header img {
        width: 79%;
        padding: 29% 0 0 14%;
    }
}

@media(max-width:375px) {
    .hero { 
        background-position: right 0px bottom 110px, right 0px top 0px;
        background-size: 60%, 109%;
        background-color: #eaebe5;
    }

    .hero_header img {
        padding: 44% 0 0 14%;
    }
}

@media(max-width:300px) {
    .hero { 
        background-position: right 1px bottom 76px, right 0px top 0px;
        background-size: 67%, 110%;
        background-color: #eaebe5;
    }

    /* .hero_header {
        padding: 145px 10px 0 55px;
    } */

    .hero_header img {
        width: 90%;
        padding: 50%;
    }
}