@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;800&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('./header.css');
@import url('./about_us.css');
@import url('./form.css');
@import url('./hero.css');

* {
    box-sizing: border-box;
}

html, body, footer {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: #eaebe5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button.btn-primary {
    padding: 10px 30px;
    background:#7fe126;
    border: 0; 
    border-radius: 10px;
    font-size: 2.2vw;
    font-weight: 500;
    color:black;
}

button.btn-primary:hover {
    background: (97 171 29);
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration:none;
}

@media(max-width:434px) {
    button.btn-primary {
        margin: 105% 0 0 38%;
        font-size: 5.2vw;
    }
}

@media(max-width:420px) {
    button.btn-primary {
        margin: 120% 0 0 38%;
        font-size: 5.2vw;
    }
}

@media(max-width:375px) {
    button.btn-primary {
        margin: 95% 0 0 35%;
        font-size: 6.2vw;
    }
}

