@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;800&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('./header.css');
@import url('./about_us.css');
@import url('./form.css');
@import url('./hero.css');


* {
    box-sizing: border-box;
}

html, body, footer, main {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: #eaebe5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: #30302F;
}

a {
    text-decoration:none;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

button.btn-primary {
    padding: 10px 45px;
    background: #3DE038;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #25271C;
    letter-spacing: 1px;
}

button.btn-primary:hover {
    background: (97 171 29);
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width:484px) {
    button.btn-primary {
        font-size: 20px;
        padding: 7px 25px;
    }
}


