<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Evry</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <header
            class="header"
            :class="{ 'mobile_menu_open': showMobileMenu }">
            <nav class="navigation">
                <button 
                    @click="showMobileMenu = !showMobileMenu"
                    class="burger_button">
                    &#9776;
                </button>
                    <ul
                        class="navigation_links" 
                        :class="{ 'open': showMobileMenu }">
                        <li><a href="about_us.html">About Us</a></li>  
                    </ul>
            </nav>
            <div class="social_buttons">
                <div class="social_element">
                    <a @click="showMessageForm"
                        href="#"><img src="/img/email.svg" alt="email"></a>
                    <div class="message"> Send us an email</div>
                </div>
                <div class="social_element">
                    <a href="tel:07470303011"><img src="/img/phone.svg" alt="phone"></a>
                    <div class="message"> Call us: 07470 30 30 11 </div>
                </div>
                <div class="social_element">
                    <a href="#"><img src="/img/navigation.svg" alt="navigation"></a>
                    <div class="message"> We cover London </div>
                </div>
            </div>
        </header> 
        <main>
            <div class="container">
                <section class="hero">
                    <div class="hero_elements">
                        <img src="img/logo.svg" alt="logo" >
                        <h1>Affordable home renovations</h1>
                        <p>At <span>evry.</span>builders, we understand the importance of keeping your home comfortable and energy-efficient. That's why we offer a wide range of affordable renovation services to address any issues that may be affecting your home's comfort and functionality. Wether your sink is leaking or your tenants are leaving, <span>evry.</span>builders are here to deal with <span>evry.</span>thing</p>
                        <div class="button_class">
                            <button class="btn-primary" id="quote" @click="showForm">
                                QUOTE
                            </button>
                        </div>
                    </div>
                </section>
            </div>

            <div class="popup" v-if="awesome === true">
                <button class="control_button popup_back" @click="back" v-if="step !== 1 && step !== 5">
                    <img src="img/back.svg" alt="Back">
                </button>
                <button class="control_button popup_close" @click="closeServicesPopup">
                    <img src="img/x.svg" alt="Close">           
                </button>

                <template v-if="step === 1">
                    <form class="form" id="form">
                        <div class="form_info">
                            <h2>PREMISE</h2>
                        </div>
                        <div class="options">
                            <button type="button" @click="setPremise('flat')"><img src="img/flat.svg" alt="">Flat</button>
                            <button type="button" @click="setPremise('house')"><img src="img/house.svg" alt="">House</button>
                            <button type="button" @click="setPremise('commercial')"><img src="img/commercial.svg" alt="">Commercial</button>
                        </div>   
                    </form>
                </template>
                <template v-if="step === 2">
                    <form class="form" id="form">
                        <div class="form_info">
                            <h2>AREA</h2>
                        </div>
                        <div class="options">
                            <button 
                                v-for="option in areaOptions"
                                type="button" 
                                :class="{active:area.includes(option.label)}" 
                                @click="setArea(option.label)"
                            >
                                <img :src="option.img" alt="">
                                {{ option.label}}
                            </button>
                        </div>
                        <div class="form_button">
                            <button @click="next" :disabled="area.length === 0">Next</button>
                        </div>      
                    </form>
                </template>

                <template v-if="step === 3">
                    <form class="form" id="form">
                        <div class="form_info">
                            <h2>SERVICE</h2>
                        </div>
                        <div class="options">
                            <button v-for="option in serviceOptions" type="button"
                                :class="{active:service.includes(option.label)}"
                                @click="setService(option.label)">
                                <img :src="option.img" alt="">
                                {{option.label}}
                            </button>
                        </div>
                        <div class="form_button">
                            <button @click="next" :disabled="service.length === 0">Next</button>
                        </div>       
                    </form>
                </template> 

                <template v-if="step === 4"> 
                    <form @submit.prevent="send()" class="form" id="form">
                        <div class="form_info">
                            <h2>CONTACT</h2>
                        </div>
                        <input v-model="firstName" required type="text" name="firstName" placeholder="Name" required>
                        <input v-model="phoneNumber" required type="tel" title="Example: 441234123456" name="phone" placeholder="Phone" required>
                        <input v-model="email" required type="email" name="email" placeholder="Email" required>
                        <input v-model="address" required type="text" name="address" placeholder="Address" required>                  
                        <div class="form_button">
                            <button>Send</button>
                        </div>       
                    </form>
                </template>

                <template v-if="step === 5">
                    <form class="form" id="form">
                        <div class="form_info">
                            <h2>THANK YOU</h2>
                        </div>
                        <div class="options">
                            <span><img src="img/finish.svg" alt="">We will be right back.</span>
                        </div>
                        <div class="form_button">
                            <button>Finish</button>
                        </div>                    
                    </form>
                </template>
            </div>
            <div class="popup" v-if="contactUs === true">
                <button class="control_button popup_close" @click="closeEmailPopup">
                    <img src="img/x.svg" alt="Close">           
                </button>
                <form @submit.prevent="send()" class="form form_email" >
                    <div class="form_info">
                        <h2>CONTACT US</h2>
                    </div>
                    <input v-model="firstName" required type="text" name="firstName" placeholder="Name" required>
                    <input v-model="phoneNumber" required type="tel" title="Example: 441234123456" name="phone" @input="onlyNumbers" placeholder="Phone" required>
                    <input v-model="email" required type="email" name="email" placeholder="Email" required>
                    <textarea v-model="message" required type="text" name="message" placeholder="Enter here your message" ></textarea>              
                    <div class="form_button">
                        <button>Send</button>
                    </div>       
                </form>
            </div>
        </main>
    </div>
    <script src="main.js"></script>
</body>
</html>