<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Evry</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <header
            class="header"
            :class="{ 'mobile_menu_open': showMobileMenu }"
        >
            <nav class="navigation">
                <button 
                    @click="showMobileMenu = !showMobileMenu"
                    class="burger_button"
                >
                    &#9776;
                </button>
                    <ul
                        class="navigation_links" 
                        :class="{ 'open': showMobileMenu }"
                    >
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="about_us.html">About us</a></li>  
                    </ul>
            </nav>
            <div class="social_buttons">
                <div class="social_element">
                    <a title=" Fell free to email us!" href="#"><img src="img/email.svg" alt="email"></a>
                    <div class="message"> Fell free to email us!</div>
                </div>
                <div class="social_element">
                    <a href="#"><img src="img/phone.svg" alt="phone"></a>
                    <span class="message"> Contact us on number </span>
                </div>
                <div class="social_element">
                    <a href="#"><img src="img/navigation.svg" alt="navigation"></a>
                    <div class="message"> We are in London </div>
                </div>
            </div>
        </header> 
        <main>
            <section class="hero">
                <div class="hero_header">
                    <!-- <h1>evry.<span>builders</span></h1> -->
                    <img src="img/logo.svg" alt="logo" >
                    <h2>Accessible home renovations</h2>
                    <button class="btn-primary" id="quote" @click="showForm">QUOTE</button>
                </div>
            </section>
            <div class="pop_up" v-if="awesome === true">
                <div class="step_one" v-if="step === 1">
                    <form class="form" id="form">
                        <div class="form_info no_back">
                            <h2>PREMISE</h2>
                            <button id="close" @click="closeForm">
                                <img src="img/x.svg" alt="">           
                            </button>
                        </div>
                        <div class="options">
                            <button type="button" @click="setPremise('flat')"><img src="img/flat.svg" alt="">Flat</button>
                            <button type="button" @click="setPremise('house')"><img src="img/house.svg" alt="">House</button>
                            <button type="button" @click="setPremise('commercial')"><img src="img/commercial.svg" alt="">Commercial</button>
                        </div>   
                    </form>
                </div>

                <div class="step_two" v-if="step === 2">
                    <form class="form_options" id="form">
                        <div class="form_info">
                            <button id="back" @click="back">
                                <img src="img/back.svg" alt="">
                            </button>
                            <h2>AREA</h2>
                            <button id="close" @click="closeForm">
                                <img src="img/x.svg" alt="">           
                            </button>
                        </div>
                        <div class="options">
                            <button v-for="option in areaOptions" type="button" 
                                :class="{active:area.includes(option.label)}" 
                                @click="setArea(option.label)">
                                <img :src="option.img" alt="">
                                {{ option.label}}
                            </button>
                        </div>
                        <div class="form_button">
                            <button @click="next" :disabled="area.length === 0">Next</button>
                        </div>      
                    </form>
                </div>

                <div class="step_three" v-if="step === 3">
                    <form class="form_options" id="form">
                        <div class="form_info">
                            <button id="back" @click="back">
                                <img src="img/back.svg" alt="">
                            </button>
                            <h2>SERVICE</h2>
                            <button id="close" @click="closeForm">
                                <img src="img/x.svg" alt="">           
                            </button>
                        </div>
                        <div class="options">
                            <button v-for="option in serviceOptions" type="button"
                                :class="{active:service.includes(option.label)}"
                                @click="setService(option.label)">
                                <img :src="option.img" alt="">
                                {{option.label}}
                            </button>
                        </div>
                        <div class="form_button">
                            <button @click="next" :disabled="service.length === 0">Next</button>
                        </div>       
                    </form>
                </div> 

                <div class="step_four" v-if="step === 4"> 
                    <form @submit.prevent="send()" class="form" id="form">
                        <div class="form_info">
                            <button id="back" @click="back">
                                <img src="img/back.svg" alt="">
                            </button>
                            <h2>CONTACT</h2>
                            <button id="close" @click="closeForm">
                                <img src="img/x.svg" alt="">           
                            </button>
                        </div>
                        <input v-model="firstName" required type="text" name="firstName" placeholder="Name" required>
                        <input v-model="phoneNumber" required type="tel" title="Example: +441234123456" name="phone" pattern="^\+[0-9]{2}[0-9]{4}[0-9]{6}$" placeholder="Phone" required>
                        <input v-model="email" required type="email" name="email" placeholder="Email" required>
                        <input v-model="address" required type="text" name="address" placeholder="Address" required>                  
                        <div class="form_button">
                            <button>Send</button>
                        </div>       
                    </form>
                </div>

                <div class="step_five" v-if="step === 5">
                    <form class="form" id="form">
                        <div class="form_info no_back">
                            <h2>THANK YOU</h2>
                            <button id="close" @click="closeForm">
                                <img src="img/x.svg" alt="">           
                            </button>
                        </div>
                        <div class="options">
                            <span><img src="img/finish.svg" alt="">We will be right back.</span>
                        </div>
                        <div class="form_button">
                            <button>Finish</button>
                        </div>                    
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="main.js"></script>
</body>
</html>